
.article-legacy {

  pre code {
    @extend .is-white-always;
    background: none;
    display: block;
    line-height: 1.42;
    width: auto;
  }

  pre {
    @extend .is-grey-bg-always;
    border-radius: 3px;
    font-size: 1rem;
    overflow-x: auto;
    padding: 1.45rem;
    word-wrap: break-word;
    font-weight: normal;

  }

}
.article {
  font-weight: bold;
  blockquote {
    display: block;
    border-width: 2px 0;
    border-style: solid;
    border-color: #eee;
    padding: 1.5em 0 0.5em;
    padding-bottom: 1.5em;
    margin: 1.5em 0;
    position: relative;
    font-size: 1.2em;
    text-align: center;
  }
  blockquote:before {
    content: '\201C';
    position: absolute;
    top: 0em;
    left: 50%;
    transform: translate(-50%, -50%);
    @extend .is-light-grey-bg;
    width: 3rem;
    height: 2rem;
    font: 6em/1.08em 'PT Sans', sans-serif;
    @extend .is-grey-bg;
    text-align: center;
  }
  
  figure {
    max-width: 600px;
    width: fit-content;
    margin: 0 auto;
    @extend .is-white-bg;

    // margin:auto;
    -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.03);
     -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.03);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.03);

    figcaption {
      padding: 10px;
      text-align: center;
      @extend .is-black;
    }
  }
  p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    width: 100%;
  }
     

  a {
    @extend .is-special-blue;
  }

  h3 { font-weight: bold;
    font-size: 2rem;
    @extend .margin-0-b
  }

  h4 { font-weight: bold;
    font-size: 1.5rem;
    @extend .margin-0-b
  }

  img {
    max-width: 100%;
  }

  p code {
    
    word-wrap: break-word;
         
  }

  ul li h2 a {
    @extend .is-grey;
    text-decoration: none;
  }
  li {
    margin-bottom: 5px;
  }

  h1 {font-weight: bold;
    @extend .is-grey;
    @extend .margin-0-b
  }
  p {
    font-weight: normal;
    font-size: 1.1em;
    code {
      @extend .is-yellow-bg-always;
      @extend .is-grey-always;
      @extend .pad-1;
      border-radius: 3px;
    }
  }
}

.blog-poster {
  max-height: 500px;
  text-align: center;
}

.fade-in {
  animation: fadein 1s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}