.is-hero-sub-text {
    font-size: calc(20px);
    line-height: calc(20px);
    font-family: Lato;
    margin-bottom: 5px;
    margin-top: 10px;

}

.is-hero-menu {
    display: block;
    font-size: 3em;
    font-family: Lato;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}


