.is-hero-sub-text {
  font-family: Lato;
  font-size: calc(20px);
  line-height: calc(20px);
  margin-bottom: 5px;
  margin-top: 10px;

}

.is-hero-menu {
  display: block;
  font-family: Lato;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.67em;
}

.top-wrapper {
  display: grid;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @media screen and (max-width: 500px) {
    grid-template-columns: 2fr 1fr 2fr;
  }
}

.top-wrapper-box {
  color: #444;
  // background-color: #f040c795;
  border-radius: 5px;
  height:100%;
  margin:1px;
  
}


.outer-wrapper {
  display: grid;
  align-items: center;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.outer-wrapper-box {
  color: #444;
  // background-color: #f040c795;
  border-radius: 5px;
  height:100%;
  margin:1px;
  font-size: 150%;
}