.is-hero-sub-text {
  font-family: Lato;
  font-size: calc(20px);
  line-height: calc(20px);
  margin-bottom: 5px;
  margin-top: 10px;
  @media screen and (max-width: 500px) {
    font-size:1em
  }

}

.is-hero-menu {
  display: block;
  font-family: Lato;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.67em;
  @media screen and (max-width: 500px) {
    font-size:2em
  }
}

.top-wrapper {
  display: grid;
  align-items: center;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.top-wrapper-box {
  color: #444;
  // background-color: #f040c795;
  border-radius: 5px;
  height:100%;
  margin:1px;
  
}


.outer-wrapper {
  display: grid;
  align-items: center;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.outer-wrapper-box {
  color: #444;
  // background-color: #f040c795;
  border-radius: 5px;
  height:100%;
  margin:1px;
  font-size: 150%;
}

.bulb-glow {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
      0 0 60px 40px #fff,  /* inner white */
      0 0 100px 60px rgb(255, 196, 0), /* middle magenta */
      0 0 140px 90px rgb(255, 224, 124); /* outer cyan */
  @media screen and (max-width: 500px) {
    box-shadow:
    0 0 20px 20px #fff,  /* inner white */
    0 0 40 40px rgb(255, 196, 0), /* middle magenta */
    0 0 30 30 rgb(255, 224, 124); /* outer cyan */
      }
}

.bulb {

  @media screen and (max-width: 500px) {
    transform: scale(0.7);
    margin-left: 10px;
    margin-top: 10px;
  }
}