.input {
  font-family: Lato;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  @extend .is-grey-border;
  @extend .is-white-bg;
  @extend .is-black;
  border: 2px solid;
  border-radius: 4px;
  font-size: medium;
  width: 100%;
}
.input:focus {
  outline: none;
  @extend .is-special-blue-border;
}