.paper {
  background-color: #fff;
  width: 210mm;
  margin-left: auto;
  margin-right: auto;
  box-shadow:
    /* The top layer shadow */
    0 -1px 1px rgba(0, 0, 0, 0.15),
    
    0 -10px 0 -5px #000,
    
    0 -10px 1px -4px rgba(0, 0, 0, 0.15),
     
    0 -20px 0 -10px #000,
    
    0 -20px 1px -9px    (0,0,0,0.15);
  font-family: Lato;
   
  .link {
    @extend .is-light-blue; }

  hr {
    opacity: 0.3;
  }
}

.hide-on-big {
  display: none;
}
.mobile-cv {
  width: 210mm;
  zoom: 0.3;
  -moz-transform: scale(0.3);
  h5 {
    font-size: 0.8em;
  }
  @media only screen and (min-width: 321px) {
    zoom: 0.4;
    -moz-transform: scale(0.4);
  }
  @media only screen and (min-width: 415px) {
    zoom: 0.5;
    -moz-transform: scale(0.5);
  }
  @media only screen and (min-width: 500px) {
    zoom: 0.6;
    -moz-transform: scale(0.6);
  }
  @media only screen and (min-width: 600px) {
    zoom: 0.7;
    -moz-transform: scale(0.7);
  }
  @media only screen and (min-width: 700px) {
    zoom: 0.8;
    -moz-transform: scale(0.8);
  }
}

@media only screen and (max-width: 908px) {
  .paper {
    position: absolute;
    top:-3000px
  }
  .hide-on-big {
    display: block;
  }
  .hide-on-small {
    display: none;
  }
}
