.paper {
  background-color: #fff;
  width: 210mm;
  margin-left: auto;
  margin-right: auto;
  box-shadow:
    /* The top layer shadow */
    0 -1px 1px rgba(0, 0, 0, 0.15),
    
    0 -10px 0 -5px #000,
    
    0 -10px 1px -4px rgba(0, 0, 0, 0.15),
     
    0 -20px 0 -10px #000,
    
    0 -20px 1px -9px    (0,0,0,0.15);
  font-family: Lato;
   
  .link {
    @extend .is-light-blue; }

  hr {
    opacity: 0.3;
  }
}

.hide-on-big {
  display: none;
}

@media only screen and (max-width: 908px) {
  .paper {
    position: absolute;
    top:-3000px
  }
  .hide-on-big {
    display: block;
  }
}
