
.pres-layout {
    padding-left:7vw;
    padding-right:7vw;
    display: flex;
    * {
      z-index:100;
    }
    img{
      max-height: 80vh;
      max-width: 90vw;
    }
    a {
      font-size: inherit;
    }
     
    h1, h2, h3, h4, h5, p {
      font-family: Fira Code;
      font-weight: bold;
      margin-top: 0.37em;
      margin-bottom: 0.37em;
    }
    p {
      font-family: Lato;
      font-weight: normal;
      font-size: 1em;
      // margin-right: auto;
    }
    .legal {
     
        font-family: Lato;
        font-weight: normal;
        font-size: 0.4em;
        
        // margin-right: auto;
      
    }

    .QA {
      
      min-width: 80%;
      p{
        margin-top: 10px;
        font-size: 30px;
      }
      h4 {
        @extend .lato-always;
        font-size: 25px;
      }
      .input {
        font-size: 30px;
      }
    }

    .poll {
      *{
        font-family: Lato;
      }
      h3 {
        margin-bottom: 10px;
      }
      p {
        font-size: 20px;
      }
      transition: width 1s;
    }

  pre code {
    @extend .is-black;
    background: none;
    display: block;
    line-height: 1.42;
    width: auto;
  }

  pre {
    @extend .is-dark-pink-bg;
    border-radius: 3px;
    font-size: 0.4em;
    overflow-x: auto;
    padding: 1.45rem;
    word-wrap: break-word;

  }

  tbody {
    tr {
      td {
        border-bottom: none !important;
      }
    }
    
  }

  }
  
  .info-tooltip{
    
    font-family: Lato;
  }
  .pres-image{
    border-top-right-radius: 15;
    border-top-left-radius: 15;
  }

  .bottom-fade-to-white {
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  }

  .pres-warning{
    @extend .container;
    min-height: 200px;
    position: relative;
    @extend .border-radius;
  }

  .btn-sm {
    margin: 10px;
    color: white;
    max-width: 250px;
    padding:5px;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    border: none;
    border-radius: 5px;
  }
  .btn-sm:hover {
    color:  #fff;
    background-color: #614fd0;
    cursor: pointer;
  }
  

  .react-joyride__tooltip {
    font-family: Lato;
  }

  .react-joyride__overlay{
    cursor: auto !important;
  }