.vertical-timeline {
    width: 95%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    padding: 2em 0;
}
.vertical-timeline {
    margin-top: 5px !important;
    margin-bottom: 25px !important;
}

.vertical-timeline::before {
    @extend .is-pink-bg-always;
}
.vertical-timeline-element-date {
     @extend .is-pink-always;
}

.vertical-timeline {
    margin-top: 5px !important;
    margin-bottom: 25px !important;
}

.vertical-timeline-element-content {
    border-style: solid;
    border-width: 3px;
    .vertical-timeline-element-content-arrow {
        border-right: 7px solid #444;
    }
}


body.dark-mode {
    .vertical-timeline {
    width: 95%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    padding: 2em 0;
}

.vertical-timeline-element-content {
    border-style: solid;
    border-width: 3px;
    box-shadow: none;

}

}