
.flex {
  display: flex;
}

.align-horizontal {
  align-items: center;
}

.align-vertical {
  flex-direction: column;
  justify-content: center;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.lato {
  font-family: Lato;
}


.line {
  border-bottom: 7px solid;
  max-width: 30%;
}


.grow {
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }
}


.shadow {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.03);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.03);
}

.hover:hover {
  color: #ef6461;
  cursor: pointer;
}

.border-radius {
  border-radius: 8px;
}

.slide-image-one {
  background-image: url('https://ik.imagekit.io/sld/ICHACK_a2o31d1eR.png');
}

.slide-image-two {
  background-image: url('https://ik.imagekit.io/sld/HackKings_nVVodPVC9.jpeg');

}

.slide-image-three {
  background-image: url('https://ik.imagekit.io/sld/AmexOnboarding_my-fjWmR6.jpeg');
 
}
