.article {
  ul {
    @apply list-disc ml-5;
    li {
      ul {
        @apply ml-5;
      }
    }
  }
  code {
    @apply font-semibold text-base;
  }
  a {
    @apply text-link font-semibold;
  }
  h1 {
    @apply text-2xl font-bold mb-3;
  }
  h2 {
    @apply text-xl font-semibold mb-1 mt-3 leading-loose;
  }
  h3 {
    @apply text-lg font-semibold mb-1 mt-3 leading-loose; 
  }
  h4 {
    @apply text-lg font-semibold mb-1 mt-3 leading-loose;
  }
  @screen md {
    h1 {
      @apply text-4xl;
    }
    h2 {
      @apply text-2xl;
    }
    h3 {
      @apply text-xl;
    }
    h4 {
      @apply text-xl;
    }
  }

}
