/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

.theme-minimal {
    --color-bg-primary: #000000;
    --color-bg-secondary: #b3b3b3;
    --color-bg-default: #e5eff7;
    --color-bg-inverse: #2b2d32;
    --color-text-primary: #fff;
    --color-text-secondary: #2b2d32;
    --color-text-default: #2b2d32;
    --color-text-default-soft: #6a6a6a;
    --color-text-inverse: #fff;
    --color-text-inverse-soft: rgba(255, 255, 255, 0.7);
  }

.theme-startup {
  --color-bg-primary: #ff73b3;
  --color-bg-secondary: #b1306a;
  --color-bg-default: #fff;
  --color-bg-inverse: #aca552;
  --color-text-primary: #fff;
  --color-text-secondary: #ff73b3;
  --color-text-default: #373737;
  --color-text-default-soft: #6a6a6a;
  --color-text-inverse: #fff;
  --color-text-inverse-soft: rgba(255, 255, 255, 0.7);
  }

  .theme-startup .tint:before {
    background: #ff73b350;
  }

  .theme-blue {
    /* A6E1FA - 0E6BA8 - 0A2472 - 001C55 - 00072D */
    --color-bg-primary: #0E6BA8;
    --color-bg-secondary: #001C55;
    --color-bg-default: #bcebff;
    --color-bg-inverse: #d77d4d;
    --color-text-primary: #fff;
    --color-text-secondary: #1f5e88;
    --color-text-default: #001C55;
    --color-text-default-soft: #6a6a6a;
    --color-text-inverse: #fff;
    --color-text-inverse-soft: rgba(255, 255, 255, 0.7);
  }

  .theme-blue .tint:before {
    background: #0E6BA850;
  }

  .tint {
    position: relative;
    float: left;
    cursor: pointer;
  }
  
  .tint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: background .3s linear;
  }

  
 
