/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

@import "./themes.scss";
@import "./tint.scss";
@import "./logo.scss";
@import "./icons.scss";
@import "./buttons.scss";
@import "./tags.scss";
@import "./link.scss";
@import "./inputs.scss";
@import "./hero.scss";
@import "./animations.scss";
@import "./article.scss";
@import "./paper.scss";
@import "./video.scss";

main {
    min-height: calc(100vh - 373px);
}

*:focus {
    outline-color: var(--color-text-primary);
}

.prose  h1{
    @apply text-secondary;  
}

.prose  h2{
    @apply text-secondary;  
}

.prose  h3{
    @apply text-secondary;  
}

.prose  h4{
    @apply text-secondary;  
}

.prose  h5{
    @apply text-secondary;  
}

.prose  h6{
    @apply text-secondary;  
}

.prose  blockquote{
    @apply text-secondary;  
}

.prose  ul{
    @apply text-secondary;  
}

.prose  strong{
    @apply text-secondary;  
}

.prose a{
    @apply text-link;
}

.prose code{
    @apply text-link;
}

.prose :not(pre) > code.language-text {
    white-space: pre-line;
}


.presentation deckgo-highlight-code{
    min-height: 60vh;
    font-size: 16px !important;
}

@media (max-width: 1268px) {
    .presentation deckgo-highlight-code{
        font-size: 12px !important;
    }
}

.presentation img{
    margin:auto;
}