.theme-matrix {
    --color-bg-primary: #2dd755;
    --color-bg-primary-light: #42f06a;
    --color-bg-accent: #2dd755; 
    --color-bg-accent-light: #4ce971; 
    --color-bg-secondary: #0b2b26;
    --color-text-link: #42f06a;    
    --color-bg-compliment: #1c1f1e;
    --color-bg-default: #1c1c1c;
    --color-bg-inverse: #d77d4d;
    --color-text-primary: #000000;
    --color-text-secondary: #f2f2f2;
    --color-text-default: #e9e9e9;
    --color-text-default-soft: #6a6a6a;
    --color-text-inverse: #fff;
    --color-text-inverse-soft: #ffffffb3;
    --color-logo-one: #161617;
    --color-logo-two: #161617;
    --color-logo-three: #161617;
    .tint:before {
        background: #0b132bff;
        opacity: 0.15;
      }
    .bulb-glow {
        @extend .bulb-special
    }
}

.theme-fallguys {
    --color-bg-primary: #ee4599;
    --color-bg-primary-light: #fa5bab;
    --color-bg-accent: #97cc3c; 
    --color-bg-accent-light: #ace34e; 
    --color-bg-secondary: #00449b;
    --color-text-link: #fcc700;
    --color-bg-compliment: #d3d3d340;
    --color-bg-default: #0090c9;
    --color-bg-inverse: #d77d4d;
    --color-text-primary: #f5f5f5;
    --color-text-secondary: #f5f5f5;
    --color-text-default: #f5f5f5;
    --color-text-default-soft: #484848;
    --color-text-inverse: #fff;
    --color-text-inverse-soft: #ffffffb3;
    --color-logo-one: #fcc700;
    --color-logo-two: #ffffff;
    --color-logo-three: #97cc3c;
}


.theme-blue {
    --color-bg-primary: #41539b;
    --color-bg-primary-light: #505f9e;
    --color-bg-accent: #FE5F55; 
    --color-bg-accent-light: #ff7167; 
    --color-bg-secondary: #ccdefd;
    --color-text-link: #278e79;
    --color-bg-compliment: #f5f5ff;
    --color-bg-default: #f5f5ff;
    --color-bg-inverse: #d77d4d;
    --color-text-primary: #f5f5f5;
    --color-text-secondary: #292c66ff;
    --color-text-default: #303030;
    --color-text-default-soft: #484848;
    --color-text-inverse: #fff;
    --color-text-inverse-soft: #ffffffb3;
    --color-logo-one: #639fa7;
    --color-logo-two: #FFC53A;
    --color-logo-three: #d25171;
}

.theme-pink {
    --color-bg-primary: #ff5d8f;
    --color-bg-primary-light: #fa6796;
    --color-bg-accent: #bd4177; 
    --color-bg-accent-light: #d84a87; 
    --color-bg-secondary: #ffc4d6;
    --color-text-link: #bd4177;
    --color-bg-compliment: #d3d3d340;
    --color-bg-default: #f5f5ff;
    --color-bg-inverse: #d77d4d;
    --color-text-primary: #f5f5f5;
    --color-text-secondary: #831f3f;
    --color-text-default: #303030;
    --color-text-default-soft: #484848;
    --color-text-inverse: #fff;
    --color-text-inverse-soft: #ffffffb3;
    --color-logo-one: #272f4b;
    --color-logo-two: #4d5e9b;
    --color-logo-three: #738de0;
}
.theme-rhubarbandcustard {
    --color-bg-primary: #f9cf77;
    --color-bg-primary-light: #ffdd93;
    --color-bg-accent: #fea5cb; 
    --color-bg-accent-light: #feb3d3; 
    --color-bg-secondary: #f7dca2;
    --color-text-link: #bd4177;
    --color-bg-compliment: #d3d3d340;
    --color-bg-default: #f5f5ff;
    --color-bg-inverse: #d77d4d;
    --color-text-primary: #9b2c5c;
    --color-text-secondary: #831f3f;
    --color-text-default: #303030;
    --color-text-default-soft: #484848;
    --color-text-inverse: #fff;
    --color-text-inverse-soft: #ffffffb3;
    --color-logo-one: #f9519a;
    --color-logo-two: #ffffff;
    --color-logo-three: #feabcf;
}

.theme-midnightdreams {
    --color-bg-primary: #0b132bff;
    --color-bg-primary-light: #111d41;
    --color-bg-accent: #e9a700; 
    --color-bg-accent-light: #e8b32c; 
    --color-bg-secondary: #0b132bff;
    --color-text-link: #f5bf37;    
    --color-bg-compliment: #112b48;
    --color-bg-default: #1c2541ff;
    --color-bg-inverse: #d77d4d;
    --color-text-primary: #fff;
    --color-text-secondary: #f2f2f2;
    --color-text-default: #e9e9e9;
    --color-text-default-soft: #6a6a6a;
    --color-text-inverse: #fff;
    --color-text-inverse-soft: #ffffffb3;
    --color-logo-one: #FFC53A;
    --color-logo-two: #fff;
    --color-logo-three: #c63082;
    .tint:before {
        background: #0b132bff;
        opacity: 0.15;
      }
    .bulb-glow {
        @extend .bulb-special
    }
  }
